* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #161616;
  font-family: "Comfortaa", cursive;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

.game-title,
.game-description {
  color: #81caa8;
  font-size: 40px;
  text-align: center;
}

.levels-container {
  z-index: 2;
}

.easy,
.normal,
.hard {
  border: none;
  border-radius: 10px;
  width: 66px;
  height: 20px;
  cursor: pointer;
  outline: none;
  color: white;
}

.easy{
  background-color: green;
}

.easy:focus {
  background-color: rgb(92, 114, 98);
}

.normal{
  background-color: rgb(212, 212, 0);
}

.normal:focus {
  background-color: rgb(116, 114, 94);
}

.hard {
  background-color: rgb(197, 9, 9);
}

.hard:focus {
  background-color: rgb(109, 87, 87);
}



@keyframes animationButton {
  0% {
    width: 200px;
    height: 50px;
  }
  50% {
    width: 220px;
    height: 55px;
  }
  100% {
    width: 200px;
    height: 50px;
  }
}

.btn-init-game {
  z-index: 2;
  margin-top: 15px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: #81caa8;
  color: #161616;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 22px;
  animation: 1s ease-in-out infinite animationButton;
}

.container-balloons {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.balloon {
  width: 90px;
  height: auto;
  cursor: url("./assets/alfinete.png"), auto;
  position: absolute;
}
